<table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>:</th>
            <th>
                <%= db_rows_array[0].user_id %>
            </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>:</th>
            <th>
                <%= db_rows_array[0].user_name %>
            </th>
        </tr>
        <tr>
            <th>Email</th>
            <th>:</th>
            <th>
                <%= db_rows_array[0].user_email %>
            </th>
        </tr>
        <tr>
            <th>Mobile</th>
            <th>:</th>
            <th>
                <%= db_rows_array[0].user_mobile %>
            </th>
        </tr>
    </tbody>
</table>